@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- */

h1{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
	font-size: 43px;
}

.master{
	height: 100vh;
	background-image: url("../img/map.jpg");	
	background-size: cover;
	
}

.masterBlur{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #00000080;
}

.textContainer{
	position: absolute;
	width: 600px;
	top: 40%;
	left: 40%;
}

.textContainer h1{
	font-size: 50px;
	padding: 20px;
	color: white;
}

.textContainer ul{
	width: 100%;
	
}

.textContainer li{
	padding: 20px 10px;
	list-style: none;
	background-color: #ffffff16;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	font-weight: bold;
	font-size: 20px;
	color: aliceblue;
	text-align: center;
}

.textContainer li:first-child{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.textContainer li:last-child{
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}


#agregar{
	padding: 10px;
	margin: 10px;
	background-color: black;
	color: white;
	border: none;
	border-radius: 50px;
	transition: all .5s ease;
	cursor: pointer;
}

#agregar:hover{
	background-color:#c38b45;
}












